extends layout

block content
  h1= title
  p Welcome to switch management
  script.
    function edit(name) {
      $.ajaxSetup({
        headers: {
          Accept: 'application/json'
        }
      })
      $.ajax({
        url: '/switches/' + name,
        success: function(data) {
          $('#inputName').val(name)
          $('#inputGroup').val(data.group)
          $('#inputSwitch').val(data.switch)
          $('#editForm').css('visibility', 'visible').attr('action', '/switches/' + name)
        }
      })
    }
    function save() {
      $('#editForm').submit()
    }
    function remove(name) {
      $.ajax({
        method: 'DELETE',
        url: '/switches/' + name
      })
    }
  if updated
    div.row
      div.col-md-2
        p.bg-success Updated switch '#{updated}'
  div.container
    if switches
      div.row
        div.col-md-3: strong Name
        div.col-md-3: strong Group
        div.col-md-3: strong Switch
        div.col-md-3
    each val in switches
      div.row
        div.col-md-3: p= val.name
        div.col-md-3: p= val.group
        div.col-md-3: p= val.switch
        div.col-md-3
          button.btn.btn-primary(onclick="edit('#{val.name}')") Edit
          button.btn.btn-danger(onclick="remove('#{val.name}')") Delete
  br
  form.form-horizontal#editForm(style='visibility:hidden', method='POST')
    div.form-group
      label.col-sm-2.control-label(for='inputName') Name
      div.col-md-2
        input.form-control#inputName(name="name", type='text', placeholder='Name')
    div.form-group
      label.col-sm-2.control-label(for='inputGroup') Group
      div.col-md-2
        input.form-control#inputGroup(name="group", type='text', placeholder='Group')
    div.form-group
      label.col-sm-2.control-label(for='inputSwitch') Switch
      div.col-md-2
        select.form-control#inputSwitch(name="switch")
          option 1
          option 2
          option 3
          option 4
    div.form-group
      div.col-md-offset-2.col-md-4
        button.btn.btn-primary(onclick="save()") Save  
