extends layout

block content
  h1= title
  p Welcome to switch management
  script.
    function edit(name) {
      $.ajaxSetup({
        headers: {
          Accept: 'application/json'
        }
      })
      $.ajax({
        url: '/switches/' + name,
        success: function(data) {
          $('#inputName').val(name)
          $('#inputGroup').val(data.group)
          $('inputSwitch').val(data.switch)
          $('#editForm').css('visibility', 'visible')
        }
      })
    }            
  div.container
    if switches
      div.row
        div.col-md-3: p Name
        div.col-md-3: p Group
        div.col-md-3: p Switch
        div.col-md-3
    each val in switches
      div.row
        div.col-md-3: p= val.name
        div.col-md-3: p= val.group
        div.col-md-3: p= val.switch
        div.col-md-3: button.btn.btn-primary(onclick="edit('#{val.name}')") Edit
  br
  form.form-horizontal#editForm(style='visibility:hidden')
    div.form-group
      label.col-sm-2.control-label(for='inputName') Name
      div.col-md-6
        input.form-control#inputName(type='text', placeholder='Name')
    div.form-group
      label.col-sm-2.control-label(for='inputGroup') Group
      div.col-md-6
        input.form-control#inputGroup(type='text', placeholder='Group')
    div.form-group
      label.col-sm-2.control-label(for='inputSwitch') Switch
      div.col-md-6
        select.form-control
          option 1
          option 2
          option 3
          option 4
    div.form-group
      div.col-md-offset-2.col-md-4
        button.btn.btn-primary Save  
